.login-card {
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 0.25rem;
    box-shadow: 0 0 50px rgba(89, 89, 89, 0.3);
    font-family: 'Inter', sans-serif;
  }
  
  .login-title {
    font-family: 'Smythe';
    font-size: 40px;
    color: darkgray;
    text-align: center;
    margin: 20px;
  }
  
  .login-text {
    font-family: 'Inter';
    font-size: 20px;
    color: #999999;
  }
  